body {
    margin: 0;
    font-family: monospace;
    font-size: larger;
  }
  
  #header {
    display: flex;
    justify-content: center;
    background: #253D5B;
    color: #fff;
    font-size: xx-large;
    
    height: 7rem;
    padding: 1rem;
  }

  #spell-search-form {
    background: #5B3000;
    color: #fff;
    margin: 1rem;
    padding: 10px;
    font-size: larger;
  }
  .container {
    margin: 1rem;
    padding: 10px;
  }

  #descriptor {
    color: #253D5B;
  }
  
  #favorites {
    color: #253D5B;
  }

  .inner {
    background: #62929E;
    color: #fff;
    margin: 3px;
    padding: 5px;
  }

  .favorite {
    background: #F9A03F;
    color: #fff;
    margin: 3px;
    padding: 5px;
  }